<% if !hidden %>
<div class=''>
    <h4><%= _("Merge Articles") %></h4>
		<div class=''>
			<div><span>Article ID</span>
      <input id='merge_with' type="text" name="merge_with" /></div>
      <div><input id='merge_btn' type="submit" value="<%= _('Merge') %>" name="merge_btn" /></div>
    </div>
  </div>
  <% end %>
